[submodule "canboat"]
	path = canboat
	url = git@github.com:sergei/canboat.git
[submodule "n2k/canboat"]
	path = n2k/canboat
	url = git@github.com:sergei/canboat.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "gopro/gpmf-parser"]
	path = gopro/gpmf-parser
	url = https://github.com/gopro/gpmf-parser.git
[submodule "libInterpolate"]
	path = libInterpolate
	url = https://github.com/CD3/libInterpolate.git
[submodule "n2k/NMEA2000"]
	path = n2k/NMEA2000
	url = https://github.com/ttlappalainen/NMEA2000.git
